  body {   
            margin: 0;
        
        }

/*this is the navigatiion bar section */

        ul {
        background-color: rgba(255,255,255,0.0);/* this will make the background color for the navbar transparent*/
            list-style-type: none;
            margin: 0;
        overflow: hidden;
            padding: 0;
        position: fixed;
        top: 0;
        width: 100%;
        }

        li {
            float: right;
        }

        li a {
        color: #C5AA6A;
            display: block;
            padding: 14px 24px;
            text-align: center;
            text-decoration: none;
        }

        li a:hover {
            border:1px solid #ddd;
        }

        .topnav {
         margin-right: 20px;
        }


        
        }  

        /*this is the main heading on the page*/
        /*The position property specifies the type of positioning method used for an element (static, relative, fixed, absolute or sticky) */
        header{
        position: relative;
        text-align:center;
        color:white;
        
        }

        /* positioning the text in the center of the background image */

        h1 {
        text-align:center;
        color:white;
        position:absolute;
        top:0%;
        width:100%;
        text-align:center;
        padding-top:240px;
        font-size:65px;
        z-index: 3;
        }
 
     /*the first body of the page */
     
        div.content-body {
        display:flex;
        }

        div.content1 {
            float:left;
        width: 472px;
        /*  border:1px solid #ddd; */

        padding:10px;
        margin-left: 85px;
        position: relative;
        left:140px;
        margin-top:75px;
        }

        p.first-paragraph {
            font-size:36px;
            color:rgb(129, 129, 129);
        }

        p.second-paragraph {
            color:rgb(129, 129, 129);
        }

  /*this is the second body of the page */

        div.content2 {
        float:left;
        width: 472px;
        /*  border:1px solid #ddd; */
        padding:10px;
        margin-left: 85px;
        position: relative;
        right: -140px;
        margin-top:75px;
        }

        div.content-container {
        margin-top: 30px;
        background-color:#f1f5f6;
        width:100%;
        height: 70vh;
        }

        h2.content2-heading {
            color:rgb(129, 129, 129);
            position: absolute;
            top:190%;
            padding:0px 0px 0px 95px;
            font-size:35px;
        }

    /*this is the 3rd body of the page*/

        div.content3 {
        box-sizing: border-box;
            position:absolute;
            top:1580px;
            clear: both;
            display: table;
        }
        div.image1 {
            float: left;
        width: 25%;
        padding: 7px;
        position: relative;
        left:200px;
        }

    /*this is the fourth body of the page*/

        div.content4 {
        background-color:#f1f5f6;
            
        }
        i{color:red;}
        div.contact-form {
            background-color:#f1f5f6;
            
        }
        div.form-body {
            padding:50px;
            color:rgb(129, 129, 129);
        }
        p.Contact-US {
            font-size:35px;
                color:  #484848;
        }
        p.Feel-free,  .numbered-link {
            color:rgb(129, 129, 129);
        }
        #button {
            height: 35px;
        }

 
